/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
#navBarUser {
	height: 60px;
	background-color: #000000;
}
#navBarUser ul {
	height: 60px;
	display: flex;
	justify-content: center;
}
#navBarUser li {
	color: #FFFFFF;
	width: 216px;
	text-align: center;
}
#navBarUser .btnNavUser {
	font-weight: 700;
	padding: 0.6% 1.1%;
	background-color: #FFFFFF;
	border-radius: 60px;
	text-align: center;
	color: #000000;
}
.container {
	max-width: 1140px;
	margin: auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}
li:hover, a:hover {
	color: #B1663C;
}
a {
	color: #000000;
	text-decoration: none;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin: 6em 0 1em 0;
}
#userBtnModification {
	font-size: 12px;
	margin-left: 20px;
	color: #000000;
	align-items: center;
	cursor: pointer;
}
#filter {
	text-align: center;
}
#filter input {
	font-family: 'Syne';
	font-weight: 700;
	margin: 10px 5px 50px 0;
	padding: 0.75% 2%;
	border: solid 1px #1D6154;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 60px;
	color: #1D6154;
	cursor: pointer;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
.loginContainer {
	padding-top: 120px;
	min-height: 100%;
	position: relative;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	display: flex;
	justify-content: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form, #sectionModal form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input, #sectionModal input, #sectionModal select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #sectionModal label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact a {
	color: black;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 1140px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}
.modalProjectModification {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 2%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.modalContent {
	position: relative;
	background-color: #FFFFFF;
	margin: auto;
	padding: 30px;
	border-radius: 7px;
	width: 630px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.8s;
	animation-name: animatetop;
	animation-duration: 0.8s
}
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
.closeModal {
	color: black;
	float: right;
	padding: 0;
	font-size: 28px;
	cursor: pointer;
}
.backModal {
	color: #000000;
	float: left;
	padding: 0;
	font-size: 25px;
	cursor: pointer;
}
#mainModal {
	padding: 40px 75px;

}
#mainModal h2 {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: #000000;
	margin: 0;
}
#deletedWork {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-top: 46px;
	width: 100%;
}
#deletedWork figure {
	justify-self: center;
	overflow: hidden;
	height: 141px;
	width: 82px;
}
#deletedWork > figure img {
	object-fit: cover;
	height: 104px;
	width: 100%;
}
#deletedWork > figure i {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 17px;
	height: 17px;
	margin: 5px 0 0 59px;
	color: white;
	background-color: #000000;
	border-radius: 2px;
	cursor: pointer;
}
#sectionModal form {
	width: 100%;
	display: flex;
	justify-content: center;
}
#separatorModal, #separatorAddWork {
	margin: 37px auto auto auto;
	border-top: 1px solid #B3B3B3;
}

#addNewImage input, #submitAddWork input[type="submit"] {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
	margin: 38px auto 15px auto;
	width: 237px;
	height: 36px;
	cursor: pointer;
}
#addNewImage a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: #D65353;
}
